#!/bin/bash

fallocate -l <SWAP_SIZE_GB>G /swapfile
chmod 600 /swapfile
mkswap /swapfile
swapon /swapfile

while true; do
  /usr/bin/apt-get update > /tmp/log.txt
  /usr/bin/apt install -y tesseract-ocr python-is-python3 python3-venv jq webp >> /tmp/log.txt
  if [[ "$?" == "0" ]]; then
      break
  fi
  sleep 10
done


sudo -i -u ubuntu /bin/bash << EOF

git clone https://github.com/ramSeraph/indian_electoral_rolls.git
cd indian_electoral_rolls/
mkdir data
chmod 777 data/

python -m venv .venv
source .venv/bin/activate
pip install -r requirements.in
pip install pushbullet-cli

cd captcha
./download_captcha_models.sh models
cd -

echo "<PB_TOKEN>" | pb set-key

echo "<R2_CREDENTIALS_BASE64>" | base64 --decode > infra/r2_credentials.json

nohup ./run.sh <SELECTED_STATE_CODES> &
nohup ./run_archiver.sh &

EOF
